section .grow{
position: relative;

width: 1090px;
margin: 0 auto;

text-align: center;

color: #333;
}
.s1{
display: block;

width: 100%;
height: 650px;

background: #f9f8f5;
}
.s1 .grid-wrap{
display: block;

width: 400px;
margin: 0 auto;
padding: 0 55px;
}
.grid-wrap .tt{
width: 122px;
padding: 23px 0 12px;

font-size: 24px;
line-height: 36px;
}
.grid-wrap img{
display: block;

width: 122px;

height: 122px;
}
.s1 .slo{
padding: 23px 0 12px;

font-size: 16px;
}
.t-gold{
color: #b4a078 !important;
}
.d-tri{
display: block;

width: 14px;
height: 7px;

margin: 0 auto;

background-image: url(../dist/icon-normal-s68611d3bb0-73e60d3575.png);
background-position: 0 -1207px;
}
.video{
position: absolute;
z-index: 1;
top: 315px;

width: 1090px;
height: 613px;
}
.video video{
width: 1090px;
height: 613px;
}

.s2{
background: #f4f2ef;
}
.s2 .grow{
position: relative;

height: 640px;
}
.s2 .information{
position: absolute;
top: 321px;
left: 80px;

margin: 0 auto;
}
.s2 .tt{
display: block;

height: 91px;
padding-bottom: 46px;

font-size: 30px;
}
.it-wrap{
display: block;
}
.it{
display: block;

width: 233px;

}
.it-hd{
padding: 0 50px;
}
.it-hd img{
display: block;

width: 61px;

height: 61px;

}
.it-desc{
padding-top: 20px;

color: #666;

font-size: 14px;
line-height: 24px;
}
.t-red{
color: #d4282d !important;
}



.s3{
width: 100%;
height: 2950px;

background: #fff;
}
.s3 .d-tri{
margin-top: 72px;
}
.s3 .tt{
display: block;

width: 100%;
height: 121px;
padding: 76px 0 0;

font-size: 30px;
line-height: 45px;
}
.s3 .content{
display: block;

width: 100%;
/*height: 230px;*/
padding: 40px 0;

color: #666;

font-size: 14px;
line-height: 30px;
}
.m-slide{
width: 1090px;
height: 300px;
padding: 0 65px;
}
.m-slide img{
width: 960px;
height: 300px;
}
.slider{
width: 960px;
height: 300px;
}
.slider{
display: block;
width: 960px;
height: 300px;
overflow: hidden;
position: relative;
}
.sl{
width: 5000px;
height: 300px;
/*float: left;*/
position: absolute;
top: 0;
left: 0;
}
.sl-it{
float: left;
display: block;
height: 300px;
width: 960px;
}
.slider i{
position: absolute;
z-index: 10;
display: block;
background-image: url(../dist/icon-normal-s68611d3bb0-73e60d3575.png);
height: 44px;
width: 28px;
}
.prev{
left: 20px;
top: 135px;
background-position: 0 -2680px;
}
.next{
right: 20px;
top: 135px;
background-position: 0 -3637px;
}
